<% include partial/header %>
<h1>Compose</h1>
<form class="" action="compose" method="post">
  <label for="postTitle">Title</label>
  <textarea type="text" name="postTitle" rows="1" value="" cols="80"></textarea>
  <label for="post">Post</label>
  <textarea type="text" name="post" rows="8" value="" cols="80"></textarea>
  <button type="submit" class="btn btn-primary" name=""> Publish</button>
</form>

<% include partial/footer %>
